body {
    margin: 0;
    background-image: url(https://s15.postimg.io/5or245dff/original2.jpg);

    background-repeat:repeat;
    box-shadow: inset 0px 0px 550px 30px #000000;
}

 html, body, .container-table {
    height: 100%;
}

.hg-core
{
    height: 100%;
    width: 80%;
    float: left;
}

.hg-ornament
{
    height: 100%;
    width: 10%;
    float: left;
    background: -webkit-linear-gradient(right,rgba(50, 50, 50,1), rgba(150, 150, 150, 1), rgba(50, 50, 50, 1));
}

.hg-upper
{
    height: 5%;
    width: 100%;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    background: -webkit-linear-gradient(right,rgba(50, 50, 50,1), rgba(150, 150, 150, 1), rgba(50, 50, 50, 1));
}

.hg-lower
{
    height: 5%;    
    width: 100%;


    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    background: -webkit-linear-gradient(right,rgba(50, 50, 50,1), rgba(150, 150, 150, 1), rgba(50, 50, 50, 1));
}

.hg-middle
{
    height: 90%;
    width: 100%;    
}

.hp-panel {
    width: 40%;
    border-radius: 25px;

    padding: 20px;
    height: 90%;

    margin: auto;
    
}

.hg-blason.griffondor
{
    background-image: url(https://s10.postimg.org/c4o2ug0np/griffondor.png);
}

.hg-blason.serdaigle
{
    background-image: url(https://s10.postimg.org/uhoo50b4l/serdaigle.png);
}

.hg-blason.poufsouffle
{
    background-image: url(https://s10.postimg.org/y2kjo8fo5/poufsouffle.png);
}

.hg-blason.serpentard
{
    background-image: url(https://s15.postimg.io/4nfshv6fv/serpentard.png);
}

.hg-blason
{
    position: absolute;
    left: 0;
    top: 20%;
    background-size: contain;
    text-align: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.hg-top.hg-container
{
    position: relative;
    height: 23%;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    flex-direction: column-reverse;
    border-left: 3px solid black;
    border-right: 3px solid black;

}

.hg-separator
{
    width: 25%;
    margin: auto;
    height: 2%;
    background: -webkit-linear-gradient(bottom,rgba(144,195,212,0.5), rgba(188, 223, 235, 0.5), rgba(106,141,153,0.5)
);
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.hg-bot.hg-container
{
    height: 75%;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    flex-direction: column-reverse;
}

.hg-container
{
     width: 100%;
     display: flex;
     overflow: hidden;
     background:
     linear-gradient(to right,rgba(50, 50, 50, 0.7), rgba(188, 223, 235, 0.7),rgba(100, 100, 100, 0.7));

}

.hg-sand
{
    font-size:xx-large;
    text-align: center;
    width: 100%;
    background-image:
    url(http://toppersworld.com/wp-content/uploads/2016/05/18-desert-beach-sand-texture.jpg);

    background-repeat:repeat;

}

.hg-sand-mask
{
    width: 100%;
    height: 100%;
}

.hg-sand-mask.red
{
    background:
    linear-gradient(to right,rgba(0, 0, 0, 0.7), rgba(200, 0, 0, 0.5),rgba(0, 0, 0, 0.7));
}

.hg-sand-mask.yellow {
    background:
    linear-gradient(to right,rgba(25, 25, 0, 0.7), rgba(200, 200, 0, 0.5),rgba(25, 25, 0, 0.7));
}

.hg-sand-mask.blue {
    background:
    linear-gradient(to right,rgba(0, 0, 0, 0.7), rgba(0, 153, 255, 0.5),rgba(0, 0, 0, 0.7));

}

.hg-sand-mask.green {
    background:
    linear-gradient(to right,rgba(25, 50, 25, 0.7), rgba(51, 204, 51, 0.5),rgba(25, 50, 25, 0.7));
}

.center {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hourglass {
     margin-right: 3%;
     margin-left: 3%;
     float: left;
     width: 19%;
     height: 100%;

     padding: 15px;
     border-radius: 20px;
}





