.header-row
{
    margin-bottom: 25px;
}

.jumbotron
{
    width: 50%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;}

.label
{
    font-size: small;
}

textarea
{
    resize:none;
}