<div class="tree well">
  <ul>
    <li>
      <span class="label label-default" style="font-size:large;"><i class="glyphicon glyphicon-circle-arrow-right"></i> Rendus à venir</span>
      <ul>
	{% for module in modules %}
	<li>
	  <span class="label label-primary" style="font-size: small;"><i class="glyphicon glyphicon-circle-arrow-right"></i> {{module.module.title}}</span>
	  <ul>
      	    {% for activity in module.activities %}
	    <li>
              <span class="label label-info"><i class="glyphicon glyphicon-education"></i> {{activity.title}}</span>
	      <span class="label label-warning" id='clock-{{activity.id}}'></span>
	      
	      <script>
 		$('#clock-{{activity.id}}').countdown('{{activity.end|date:"Y/m/d h:m:s"}}',
		function(event)
		{
		var start = new Date('{{activity.start|date:"Y/m/d h:m:s"}}'),
		end = new Date('{{activity.end|date:"Y/m/d h:m:s"}}'),
		today = new Date(),
		p = Math.round(((today - start) / (end - start)) * 100) + '%';
		$('#progress-{{activity.id}}').css("width", p)
		$('#progress-{{activity.id}} span').html(event.strftime("%D jours %H:%M:%S"));
		$('#clock-{{activity.id}}').html(event.strftime("%D jours %H:%M:%S"));
		}
		);
	      </script>
	    </li>
	    {% endfor %}
	  </ul>
	</li>
	{% endfor %}
      </ul>
    </li>
  </ul>
</div>



