<div class="tree well">
  <ul>
    <li>
      <span class="label label-default" style="font-size:large;"><i class="glyphicon glyphicon-circle-arrow-right"></i> Aujourd'hui</span>
      <ul>
	{% for daily_event in daily_events %}
	<li>
	  <span class="label label-primary" style="font-size: small;"><i class="glyphicon glyphicon-circle-arrow-right"></i> {{daily_event.activity.title}}</span>
	  <ul>
      	    {% for event in daily_event.events %}
	    <li>
              <span class="label label-info" style="font-size: small;">{{event.begin|date:"h\hm"}}</span>
	      <i class="glyphicon glyphicon-arrow-right"></i>
              <span class="label label-info" style="font-size: small;">{{event.end|date:"h\hm"}}</span>	      
	    </li>
	    {% endfor %}
	  </ul>
	</li>
	{% endfor %}
      </ul>
    </li>
  </ul>
</div>


