<div class="panel panel-primary" style="width: 20%; display: inline-block;vertical-align: top;">
  <div class="panel-heading">
    GhostBuster
  </div>
  <ul class="list-group">
    {% for ghost in ghosts %}
    <li class="list-group-item">
      <span style="font-size:small">{{ghost.0.login}} {{ghost.1}}</span>
    </li>
    <script>
    </script>
    {% endfor %}
  </ul>
</div>
