{% extends "page.html" %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static "style/display.css" %}">
{% endblock styles %}

{% block body %}
    
    <div class="center">
      <div class="hp-panel">


	<div class="hourglass">
	  <div class="hg-upper"></div>
	  <div class="hg-middle">
	    <div class="hg-ornament"></div>
	    <div class="hg-core">
	      <div class="hg-top hg-container">
		<div class="hg-blason serpentard"></div>
		<div class="hg-sand green" role="progressbar" style="height: 90%;">
		  <div class="hg-sand-mask green"></div>
		</div>
	      </div>
	      <div class="hg-separator"></div>
	      <div class="hg-bot hg-container">
		<div class="hg-sand green" role="progressbar" style="height: 10%;">
		  <div class="hg-sand-mask green"></div>
		</div>
	      </div>
	    </div>
	    <div class="hg-ornament"></div>
	  </div>
	  <div class="hg-lower"></div>
	</div>

	<div class="hourglass">
	  <div class="hg-upper"></div>
	  <div class="hg-middle">
	    <div class="hg-ornament"></div>
	    <div class="hg-core">
	      <div class="hg-top hg-container">
		<div class="hg-blason griffondor"></div>
		<div class="hg-sand" role="progressbar" style="height: 90%;">
		<div class="hg-sand-mask red"></div>
		</div>
	      </div>
	      <div class="hg-separator"></div>
	      <div class="hg-bot hg-container">
		<div class="hg-sand" role="progressbar" style="height: 10%;">
		<div class="hg-sand-mask red"></div>
		</div>
	      </div>
	    </div>
	    <div class="hg-ornament"></div>
	  </div>
	  <div class="hg-lower"></div>
	</div>

	<div class="hourglass">
	  <div class="hg-upper"></div>
	  <div class="hg-middle">
	    <div class="hg-ornament"></div>
	    <div class="hg-core">
	      <div class="hg-top hg-container">
		<div class="hg-blason serdaigle"></div>
		<div class="hg-sand blue" role="progressbar" style="height: 90%;">
		  <div class="hg-sand-mask blue"></div>
		</div>
	      </div>
	      <div class="hg-separator"></div>
	      <div class="hg-bot hg-container">
		<div class="hg-sand blue" role="progressbar" style="height: 10%;">
		  <div class="hg-sand-mask blue"></div>
		</div>
	      </div>
	    </div>
	    <div class="hg-ornament"></div>
	  </div>
	  <div class="hg-lower"></div>
	</div>

	<div class="hourglass">
	  <div class="hg-upper"></div>
	  <div class="hg-middle">
	    <div class="hg-ornament"></div>
	    <div class="hg-core">
	      <div class="hg-top hg-container">
		<div class="hg-blason poufsouffle"></div>
		<div class="hg-sand yellow" role="progressbar" style="height: 90%;">
		  <div class="hg-sand-mask yellow"></div>
		</div>
	      </div>
	      <div class="hg-separator"></div>
	      <div class="hg-bot hg-container">
		<div class="hg-sand yellow" role="progressbar" style="height: 10%;">
		  <div class="hg-sand-mask yellow"></div>
		</div>
	      </div>
	    </div>
	    <div class="hg-ornament"></div>
	  </div>
	  <div class="hg-lower"></div>
	</div>
	


      </div>
    </div>
    
{% endblock body %}

{% block scripts %}
    <script>
      $(document).ready(function() {
      console.log( "ready!" );
      $(".hg-bot > .hg-sand.green").animate({height: "100%"}, 3000);
      $(".hg-top > .hg-sand.green").animate({height: "0%"}, 3000);
      $(".hg-top > .hg-blason").animate({ boxShadow : "0 0 10px 10px rgba(255,255,255,1)"}, 3000);

      $(".hg-bot > .hg-sand.red").animate({height: "90%"}, 3000);
      $(".hg-top > .hg-sand.red").animate({height: "10%"}, 3000);

      $(".hg-bot > .hg-sand.blue").animate({height: "45%"}, 3000);
      $(".hg-top > .hg-sand.blue").animate({height: "55%"}, 3000);

      $(".hg-bot > .hg-sand.yellow").animate({height: "30%"}, 3000);
      $(".hg-top > .hg-sand.yellow").animate({height: "70%"}, 3000);
      });

    </script>
{% endblock scripts %}

  
