{% extends "page.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block styles %}
<link href="{% static "style/suivis-form.css" %}" rel="stylesheet">
{% endblock styles %}

{% block body %}
<div class="jumbotron">
  <div class="row header-row">
    <div class="col-md-3">
      <img width="120" height="142" src="https://cdn.local.epitech.eu/userprofil/profilview/{{student.login}}.jpg" class="img-rounded" alt="Etudiant">
    </div>
    
    <div class="col-md-8">
      <h2><b>{{student.prenom|capfirst}}</b> {{student.nom|capfirst}}</h2>
      <h2><label class="label label-danger">{{student.login}}</label></h2>
      <h5><b>{{student.promotion.promo}}</b> à Epitech {{student.promotion.location.title}}</h5>
    </div>
  </div>
  <form method="post" action="">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
	<fieldset class="form-group">
	  <i class="glyphicon glyphicon-scale"></i>
	  <label for="estim-technique" class="label label-primary">Estimation niveau technique</label>
	  {{form.estim_tech|attr:"class:form-control"}}
	</fieldset>
      </div>      
    </div>      
    <div class="row">
      <div class="col-md-6">
	<fieldset class="form-group">
	  <i class="glyphicon glyphicon-sunglasses"></i>
	  <label class="label label-primary" for="estim-social">Estimation intégration sociale</label>
	  {{form.estim_social|attr:"class:form-control"}}
	</fieldset>
      </div>            
    </div>            
    <div class="row">
      <div class="col-md-12">
	<fieldset class="form-group">
	  <i class="glyphicon glyphicon-pencil"></i>
	  <label for="commentaire" class="label label-primary">Commentaire</label>
	  {{form.desc|attr:"class:form-control"|attr:"placeholder:Quoi de neuf ?"}}
	</fieldset>
	<button type="submit" class="btn btn-primary">Enregistrer</button>
      </div>
    </div>
  </form>
</div>
{% endblock body %}

{% block scripts %}
{% endblock scripts %}
  
