body {
    margin: 0;
    background-image: url(http://i.imgur.com/7DzIsq4.png);
    background-repeat:repeat;
    box-shadow: inset 0px 0px 100px 15px #000000;
}

 html, body, .container-table {
    height: 100%;
}

.hp-panel {
    width: 600px;
    border-radius: 25px;
    border: 2px solid #73AD21; 
    padding: 20px;
    height: 700px;

    margin: auto;

}

.hg-lower-container {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 90%;
    display: flex;
}

.hg-top-container {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 10%;
    display: flex;
}

.hg-sand {
    width: 100%;
    background-size: 600px 600px;
    background-repeat:repeat;
    box-shadow: inset 0px -15px 40px 10px #000000;
    align-self: flex-end;
}

.hg-sand.red {
    background-image:
    linear-gradient(rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45)),
    url(http://2.bp.blogspot.com/-NvOAjaImuYg/T2C6X3nDktI/AAAAAAAAA_Q/lsYxcC5COnQ/s1600/Seamless+ground+sand+texture.jpg);
}

.hg-sand.yellow {
    background-image:
    linear-gradient(rgba(255, 255, 0, 0.45), rgba(255, 255, 0, 0.45)),
    url(http://2.bp.blogspot.com/-NvOAjaImuYg/T2C6X3nDktI/AAAAAAAAA_Q/lsYxcC5COnQ/s1600/Seamless+ground+sand+texture.jpg);
}

.hg-sand.blue {
    background-image:
    linear-gradient(rgba(0, 153, 255, 0.45), rgba(0, 153, 255, 0.45)),
    url(http://2.bp.blogspot.com/-NvOAjaImuYg/T2C6X3nDktI/AAAAAAAAA_Q/lsYxcC5COnQ/s1600/Seamless+ground+sand+texture.jpg);
}

.hg-sand.green {
    background-image:
    linear-gradient(rgba(51, 204, 51, 0.55), rgba(51, 204, 51, 0.55)),
    url(http://2.bp.blogspot.com/-NvOAjaImuYg/T2C6X3nDktI/AAAAAAAAA_Q/lsYxcC5COnQ/s1600/Seamless+ground+sand+texture.jpg);
}

 .center {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 .container { margin-top: 10px; }

 .progress-bar-vertical {
     width: 100%;
     height: 100%;
     display: flex;
     align-items: flex-end;
 }

 .progress-bar-vertical .progress-bar {
     width: 100%;
     height: 0;
     -webkit-transition: height 0.6s ease;
     -o-transition: height 0.6s ease;
     transition: height 0.6s ease;
 }

.hourglass {
     margin-right: 4%;
     margin-left: 4%;
     float: left;
     width: 17%;
     height: 100%;
     background: -webkit-linear-gradient(bottom,rgba(144,195,212,0.5), rgba(188, 223, 235, 0.5), rgba(106,141,153,0.5));

     padding: 13px;
     border-radius: 20px;

}

.progress {
     border-radius: 15px;
}



.progress-bar {
    background-size: 600px 600px;
    background-repeat:repeat;
    background-image:
    linear-gradient(rgba(0, 100, 0, 0.55), rgba(0, 255, 0, 0.55)),
    url(http://2.bp.blogspot.com/-NvOAjaImuYg/T2C6X3nDktI/AAAAAAAAA_Q/lsYxcC5COnQ/s1600/Seamless+ground+sand+texture.jpg);
    box-shadow: inset 0px -15px 40px 10px #000000;
}
